.projects-content {
  width: 80%;
  margin: 0 auto;
}
.projects-content p {
    text-align: center;
}

.projects {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 10rem;
}

.project-box {
  display: inline-block;
  background: var(--light-gray);
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  transition: var(--transition);
  text-align: center;
  min-width: 150px;
}

.project-box:hover {
  transform: translateY(-5px);
}